@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Remote IP address: @Model.RemoteIpAddress</p>
<p>Remote port number: @Model.RemotePortNumber</p>
<p>Local IP address: @Model.LocalIpAddress</p>
<p>Local port number: @Model.LocalPortNumber</p>
<p>Scheme: @Model.Scheme</p>
<p>Host: @Model.Host</p>
